<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<!------------------------------------ Form Validation --------------------------------------->
<script>
$(document).ready(function() {
  $('#job_form').validate({
    errorElement: 'span',
    errorClass: 'error-message',
    errorPlacement: function(error, element) {
      error.appendTo(element.parent());
    }
  });
});
</script>

<style>
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
</style>

<!------------------------------------ Show Company Logo Preview --------------------------------------->

<script>
function showPreview(event) {
  const fileInput = event.target;
  const previewImage = document.getElementById('preview-image');
  const cameraIcon = document.getElementById('camera-icon');

  if (fileInput.files && fileInput.files[0]) {
    const reader = new FileReader();

    reader.onload = function (e) {
      previewImage.setAttribute('src', e.target.result);
      cameraIcon.style.display = 'none'; // Ocultar el icono de la cámara
    };

    reader.readAsDataURL(fileInput.files[0]);
  } else {
    previewImage.setAttribute('src', ''); // Eliminar la vista previa de la imagen
    cameraIcon.style.display = 'block'; // Mostrar el icono de la cámara
  }
}
</script>

<%= form_with(model: job, :html => { :id => "job_form", :style => "background:transparent;" }) do |form| %>
  <!------------------------------------ Card Job info section--------------------------------------->
  <div class="card card-form" style="padding: 2% 5% 2% 5%;">
    <div class="card-body">
      <!-------------- Title  ---------------->
      <h4 class="form-title">Job Info</h4>

      <div class="row">
        <div class="col-md-6">
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Job Title *", class: "d-block tittle-position fuente-letras" %>
            <%= form.text_field :title, class: "form-control fuente-letras", required: true%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Job Type", class: "d-block tittle-position fuente-letras" %>
            <%= form.select :job_type, ["Full-time", "Part-time"], {}, { class: "form-control fuente-letras" } %>
          </div>
        </div>
      </div>

      <div>
        <div class="input-form mx-auto w-85 text-center">
          <%= form.label "Description *",  class: "d-block tittle-position fuente-letras" %>
          <%= form.text_area :description, class: "form-control fuente-letras field-big" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Job Location", class: "d-block tittle-position fuente-letras" %>
            <%= form.text_field :location, placeholder: "City, State, Country...",   class: "form-control fuente-letras" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check form-check-inline input-form fuente-letras">
          <%= form.radio_button :location_mode, 'ON_SITE', checked: "checked",  modality: "radio", class:"form-check-input check" %> Onsite Only
          </div>
          <div class="form-check form-check-inline fuente-letras">
            <%= form.radio_button :location_mode, 'HIBRYD', modality: "radio", class: "form-check-input" %> Remote OK
          </div>
        </div>
      </div>

      <div class="input-form mx-auto w-85 text-center">
        <%= form.label "Category *", class: "d-block tittle-position fuente-letras" %>
        <%= form.select :category, ["A", "B"],{ include_blank: "- nothing selected -" }, { class: "form-control fuente-letras", required: true} %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Salary Timeframe", class: "d-block tittle-position fuente-letras" %>
            <%= form.select :salary_timeframe, ["Monthly", "Anually"], {}, { class: "form-control fuente-letras" } %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Currency", class: "d-block tittle-position fuente-letras" %>
            <%= form.select :currency, ["USD", "ARS"], {}, { class: "form-control fuente-letras" } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 ">
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Min Salary", class: "d-block tittle-position fuente-letras" %>
            <%= form.text_field :min_salary, class: "form-control fuente-letras" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Max Salary", class: "d-block tittle-position fuente-letras" %>
            <%= form.text_field :max_salary, class: "form-control fuente-letras" %>
          </div>
        </div>
      </div>

      <div class="input-form mx-auto w-85">
        <%= form.label "Link to apply *", class: "d-block tittle-position fuente-letras" %>
        <%= form.url_field :website, placeholder: "https://", class: "form-control fuente-letras", required: true %>
      </div>
    </div>
  </div>

  <!------------------------------------ Card Company Info section--------------------------------------->
  <br><div class="card card-form" style="padding: 2% 5% 2% 5%">
    <div class="card-body">
      <!-------------- Title  ---------------->
      <h4 class="form-title">Company Info</h4>

      <div class="row">
        <div class="col-md-9 ">
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Company *", class: "d-block tittle-position fuente-letras";%>
            <%= form.text_field :company, class: "form-control fuente-letras", required: true%>
          </div>
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Company Website", class: "d-block tittle-position fuente-letras";%>
            <%= form.url_field :company_website, class: "form-control fuente-letras" %>
          </div>
          <div class="input-form mx-auto w-85 text-center">
            <%= form.label "Company Description *", class: "d-block tittle-position fuente-letras" %>
            <%= form.text_area :company_description, class: "form-control fuente-letras field-medium", required: true%>
          </div>
        </div>
        <div class="col-md-3">
          <div class="image-upload">
            <div class="input-form mx-auto w-85 text-center">
              <%= form.label "Company Logo *", class: "d.d-block tittle-position fuente-letras" %>
              <label for="job_company_logo" id="file-label">
                <div id="circle">
                  <img id="preview-image" src="https://media.istockphoto.com/id/1222357475/vector/image-preview-icon-picture-placeholder-for-website-or-ui-ux-design-vector-illustration.jpg?s=170667a&w=0&k=20&c=IyNlM1yfvw2UAitPPF7hIBBsr4IZjZJUDS1C5YgmiwA=" alt="Isotipo">
                  <img id="camera-icon" src="https://i.pinimg.com/originals/8d/d5/03/8dd503e19486af437d9aa62d681bccd4.jpg" alt="Icono de cámara">
                </div>
              </label>
              <%= form.file_field :company_logo, class: "fuente-letras visually-hidden", onchange: "showPreview(event);", required: true%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------ Card Email Info section--------------------------------------->
  <br><div class="card card-form" style="padding: 2% 5% 2% 5%">
    <div class="card-body">
      <!-------------- Title  ---------------->
      <h4 class="form-title">Email</h4>

      <div class="input-form mx-auto w-85">
        <%= form.label "Email *", class: "d-block tittle-position fuente-letras";%>
        <small class="form-text text-muted" style="font-size: 10px;">You email won't be displayed. We'll send your the receipt and the link to manage your listing.</small>
        <%= form.email_field :email, class: "form-control fuente-letras", required: true%>
      </div>
    </div>
  </div>
    
  <!------------------------------------ Button section--------------------------------------->
  <br><br><div class="card card-form" style="padding: 2% 5% 2% 5%">
    <div class="card-body">
      <div class="col-12 d-flex justify-content-center align-items-center" style="height: 10vh;">
        <%=
          if edit == true
            form.submit "Update", class: "btn btn-primary apply-buttom"
          else
            form.submit "Preview" , class: "btn btn-primary apply-buttom"
          end
        %>
      </div>
    </div>
  </div> 
<% end %>

  

