<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :company_name, style: "display: block" %>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label :company_logo, style: "display: block" %>
    <%= form.file_field :company_logo %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :modality, style: "display: block" %>
    <%= form.select :location_mode, Job.location_modes.keys %>
  </div>

  <div>
    <%= form.label :estimate_salary, style: "display: block" %>
    <%= form.number_field :salary %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :job_website, style: "display: block" %>
    <%= form.text_field :website %>
    <p><small>
    Applicants will be sent to the website you specify to apply for the position.
    </small></p>
  </div>

 <!--
  # Note: Use the following if you use the companies table
  # <div>
  #   <%= form.label :company_id, style: "display: block" %>
  #   <%= form.collection_select :company_id, Company.all, :id, :name %>
  # </div>
  #
  #
  # <div>
  #   <%= form.label :category, style: "display: block" %>
  #   <%= form.number_field :category %>
  # </div>
  -->

  <div>
    <%= form.submit %>
  </div>
<% end %>
