<%= image_tag "banner.jpg", style: "display: block; width: 100%; margin-left: auto; margin-right: auto;"%>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <!---------------------------------------------------- Jobs Filters -------------------------------------------------->
      <div class="container">
        <div class="sidebar">
          <%= form_with url: "/", method: :get do |form| %>
            <div id="jobs_filters">
              <!---------------------------------------------------- Keyword -------------------------------------------------->
              <div class="jobs_filters_filter">
                <label style="font-size: 14px; font-weight:700;" for="keyword">Keyword</label>
                <input  class="form-control fuente-letras" id="keyword" placeholder="Company, Job Title..." name="keyword" value="">
              </div>
              <!---------------------------------------------------- Location and Modality ------------------------------------->

              <div class="jobs_filters_filter">
                <label style="font-size: 14px; font-weight:700;"  for="jobs_location">Location</label>
                <input type="text" class="form-control fuente-letras" placeholder="City, State, Country..." name="location" value="">
              </div>
              <div class="form-check form-switch" style="margin-top: 10px;">
                <input class="form-check-input" type="checkbox" role="switch" id="remote_only" name="remote_only">
                <label class="form-check-label" for="remote_only">Remote Only</label>
              </div>

              <!---------------------------------------------------- Category -------------------------------------------------->
              <div class="jobs_filters_filter" id="jobs_filters_categories">
                <label style="font-size: 14px; font-weight:700;">Category</label>
                <div><%= form.select :category, Job.categories.map {|key,_| [key.humanize, key] }, { include_blank: ""} %></div>
              </div>

              <!---------------------------------------------------- Job Type -------------------------------------------------->
              <div class="jobs_filters_filter" id="jobs_filters_types">
                <label style="font-size: 14px; font-weight:700;">Job Type</label>
                <div><%= form.select :modality, Job.modalities.map {|key,_| [key.humanize, key] }, { include_blank: ""} %></div>
              </div>

              <!---------------------------------------------------- Filter buttom -------------------------------------------------->
              <br>
              <div>
                <button type="submit" class="btn btn-dark justify-content-center align-items-center" id="jobs_filters_filter-btn">Filter</button>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <!---------------------------------------------------- Job Cards -------------------------------------------------->
      <div id="jobs">
        <% @jobs.each do |job| %>
          <a href=<%=job_path(job)%> class="card-link">
            <%=job_card(job, "true")%>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

