
<%= form_with(model: alert, :html => { :style => "background:transparent;" }, url: "/alerts/create") do |form| %>
  <!------------------------------------ Card Job info section--------------------------------------->
  <div class="card card-form" style="margin: 2% 5% 2% 5%;">
    <div class="card-body">
      <!-------------- Title  ---------------->
      <h4 class="form-title">New Alert</h4>

      <p>Create alerts and receive Notifications to your email</p>
      <div>
        <%= hidden_field_tag :user_id, current_candidate.id %>

        <div class="input-form mx-auto w-85 text-center">
            <%= form.label "frequency", class: "d-block tittle-position fuente-letras" %>
            <%= form.select :frequency, options_for_select(Alert.frequencies.map { |key, value| [key.humanize, key] }), {}, { class: "form-control fuente-letras" } %>
        </div>

        <div class="input-form mx-auto w-85 text-center">
            <%= form.label "keyword", class: "d-block tittle-position fuente-letras" %>
            <%= form.text_field :keyword, class: "form-control fuente-letras", required: true %>
        </div>

        <small class="form-text text-muted">
            Enter keyword related to your search
        </small>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center" style="height: 10vh;">
        <%= form.submit "Create" , class: "btn btn-dark  d-flex justify-content-center align-items-center" %>
      </div>
  </div>
<% end %>

  

<div id="alerts">
    <h3>Alerts</h3><br>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Keyword</th>
            <th scope="col">Frequency</th>
            <th scope="col">Crated at</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% @alerts.each do |alert| %>
                <tr>
                <td><%= alert.keyword   %></td>
                <td><%= alert.frequency  %></td>
                <td><%= alert.created_at %></td>
                <td>
                    <%= button_to "Delete", alert , method: :delete,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } , class: "btn btn-danger btn-sm ms-2"%>
                </td>
            <% end %>
            </tr>
        </tbody>
    </table>

</div>
